openai
langchain
langchain_openai
langchain_experimental
langchainhub
pinecone-client
python-dotenv
tiktoken
docx2txt
pypdf
requests
numpy
pandas
streamlit
datetime 
glob
boto3
re
configparser
google-api-python-client
mtranslate
langdetect
youtube-transcript-api
streamlit_chat
pytube 
moviepy